body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.link-logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-logo-studio {
  color: #2e2f42;
}

.link-address {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.link:hover,
.link:focus,
.link-address:hover,
.link-address:focus,
.link-logo:hover,
.link-logo:focus {
  text-decoration: none;
  color: #404bbf;
}

.link:active {
  text-decoration: underline;
  color: #404bbf;
}

.address {
  font-style: normal;
}

.section-button,
.footer {
  background-color: #2e2f42;
}

.section-button-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 48px;
}

.section-button-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  margin: 0 auto;
  display: block;
}

.section-button-button:hover,
.section-button-button:focus {
  background-color: #404bbf;
}

.section-our-team {
  background: #f4f4fd;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.section-benefits-title,
.section-our-team-title,
.section-our-portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-benefits-text,
.section-our-team-text,
.section-our-portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-member {
  background-color: #ffffff;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-logo-studio {
  color: #f4f4fd;
}

.container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .list {
  display: flex;
  width: 261px;
  height: 24px;
  gap: 40px;
  margin: 0 auto;
}

.section-benefits .container .list {
  display: flex;
  margin: 0 auto;
  gap: 24px;
}

.section-benefits .list-item {
  width: calc((100% - 72px) / 4);
}

.section-benefits-title {
  margin-bottom: 8px;
}

.container-nav {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.container-address .list {
  display: flex;
  gap: 40px;
}

.link-address {
  margin-right: 40px;
}

.section-benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-button {
  width: 1440px;
  height: 600px;
  padding: 188px 472px;
  max-width: 100%;
  margin: 0 auto;
}

.section-our-team {
  padding: 120px 0;
}

.section-our-team .section-title {
  margin-bottom: 72px;
}

.section-our-team .container .list {
  display: flex;
  margin: 0, auto;
  gap: 24px;
}

.section-our-team .list-item {
  flex-basis: calc((100% - 72px) / 4);
}

.team-member {
  border-radius: 0 0 4px 4px;
}

.container-team {
  padding: 32px 0;
}

.section-our-team-title {
  text-align: center;
  margin-bottom: 8px;
}

.section-our-team-text {
  text-align: center;
}

.section-our-portfolio {
  padding: 120px 156px;
}

.section-our-portfolio .section-title {
  margin-bottom: 72px;
}

.container-our-portfolio .list {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  width: 1128px;
}

.container-our-portfolio li {
  flex-basis: calc((100% - 48px) / 3);
  height: 420px;
}

.section-our-portfolio img {
  margin-bottom: 32px;
}

.section-our-portfolio-title {
  margin-bottom: 8px;
}

.container-footer {
  display: flex;
  flex-direction: column;
  width: 264px;
  height: 72px;
}

.container-footer .link-logo {
  margin-bottom: 16px;
}

.footer {
  padding: 100px 156px;
  width: 1440px;
  height: 312px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
